@media (prefers-contrast: less) {
  :root {
    --primary-container: #3ba6ff;
    --on-primary-container: #002440;
    --primary-fixed: #3ba6ff;
    --primary-fixed-dim: #0098f6;
    --on-primary-fixed: #000000;
    --on-primary-fixed-variant: #002e50;
    --secondary-fixed: #bbd2ff;
    --secondary-fixed-dim: #a4c5ff;
    --on-secondary-fixed: #003469;
    --on-secondary-fixed-variant: #00509d;
    --tertiary-fixed: #c0a0ff;
    --tertiary-fixed-dim: #b490fd;
    --on-tertiary-fixed: #210050;
    --on-tertiary-fixed-variant: #461f8a;
  }
  @media (prefers-color-scheme: light) {
    :root {
      --background: #f5f6ff;
      --on-background: #182f50;
      --surface: #f5f6ff;
      --surface-dim: #bfd5ff;
      --surface-bright: #f5f6ff;
      --surface-container-lowest: #ffffff;
      --surface-container-low: #ecf0ff;
      --surface-container: #dfe8ff;
      --surface-container-high: #d6e3ff;
      --surface-container-highest: #cdddff;
      --on-surface: #182f50;
      --on-surface-variant: #475c80;
      --outline: #62779d;
      --outline-variant: #98aed6;
      --inverse-surface: #000e25;
      --inverse-on-surface: #889ec5;
      --primary: #005f9c;
      --primary-dim: #0068aa;
      --on-primary: #ecf3ff;
      --inverse-primary: #0096f2;
      --secondary: #005ab0;
      --secondary-dim: #0d63be;
      --on-secondary: #eff2ff;
      --secondary-container: #bbd2ff;
      --on-secondary-container: #00478c;
      --tertiary: #6a46ae;
      --tertiary-dim: #7350b8;
      --on-tertiary: #f8efff;
      --tertiary-container: #c0a0ff;
      --on-tertiary-container: #3d1281;
      --error: #b31b25;
      --error-dim: #c0262d;
      --on-error: #ffefee;
      --error-container: #fb5151;
      --on-error-container: #570008;
    }
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #000e25;
      --on-background: #dae6ff;
      --surface: #000e25;
      --surface-dim: #000e25;
      --surface-bright: #002c5b;
      --surface-container-lowest: #000000;
      --surface-container-low: #00132e;
      --surface-container: #001939;
      --surface-container-high: #001f44;
      --surface-container-highest: #00254f;
      --on-surface: #dae6ff;
      --on-surface-variant: #96acd4;
      --outline: #61769b;
      --outline-variant: #33486b;
      --inverse-surface: #f9f9ff;
      --inverse-on-surface: #405679;
      --primary: #2fa3ff;
      --primary-dim: #0079c5;
      --on-primary: #00223c;
      --inverse-primary: #0062a2;
      --secondary: #5f9efc;
      --secondary-dim: #2c74cf;
      --on-secondary: #002045;
      --secondary-container: #005db6;
      --on-secondary-container: #f6f7ff;
      --tertiary: #af8af7;
      --tertiary-dim: #8460ca;
      --on-tertiary: #2b0065;
      --tertiary-container: #af8af7;
      --on-tertiary-container: #2b0065;
      --error: #ff716c;
      --error-dim: #d7383b;
      --on-error: #490006;
      --error-container: #9f0519;
      --on-error-container: #ffa8a3;
    }
  }
}
@media (prefers-contrast: no-preference) {
  :root {
    --primary-container: #3ba6ff;
    --on-primary-container: #002440;
    --primary-fixed: #3ba6ff;
    --primary-fixed-dim: #0098f6;
    --on-primary-fixed: #000000;
    --on-primary-fixed-variant: #002e50;
    --secondary-fixed: #bbd2ff;
    --secondary-fixed-dim: #a4c5ff;
    --on-secondary-fixed: #003469;
    --on-secondary-fixed-variant: #00509d;
    --tertiary-fixed: #c0a0ff;
    --tertiary-fixed-dim: #b490fd;
    --on-tertiary-fixed: #210050;
    --on-tertiary-fixed-variant: #461f8a;
  }
  @media (prefers-color-scheme: light) {
    :root {
      --background: #f5f6ff;
      --on-background: #182f50;
      --surface: #f5f6ff;
      --surface-dim: #bfd5ff;
      --surface-bright: #f5f6ff;
      --surface-container-lowest: #ffffff;
      --surface-container-low: #ecf0ff;
      --surface-container: #dfe8ff;
      --surface-container-high: #d6e3ff;
      --surface-container-highest: #cdddff;
      --on-surface: #182f50;
      --on-surface-variant: #475c80;
      --outline: #62779d;
      --outline-variant: #98aed6;
      --inverse-surface: #000e25;
      --inverse-on-surface: #889ec5;
      --primary: #005f9c;
      --primary-dim: #005389;
      --on-primary: #ecf3ff;
      --inverse-primary: #009eff;
      --secondary: #005ab0;
      --secondary-dim: #004f9b;
      --on-secondary: #eff2ff;
      --secondary-container: #bbd2ff;
      --on-secondary-container: #00478c;
      --tertiary: #6a46ae;
      --tertiary-dim: #5e39a1;
      --on-tertiary: #f8efff;
      --tertiary-container: #c0a0ff;
      --on-tertiary-container: #3d1281;
      --error: #b31b25;
      --error-dim: #9f0519;
      --on-error: #ffefee;
      --error-container: #fb5151;
      --on-error-container: #570008;
    }
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #000e25;
      --on-background: #dae6ff;
      --surface: #000e25;
      --surface-dim: #000e25;
      --surface-bright: #002c5b;
      --surface-container-lowest: #000000;
      --surface-container-low: #00132e;
      --surface-container: #001939;
      --surface-container-high: #001f44;
      --surface-container-highest: #00254f;
      --on-surface: #dae6ff;
      --on-surface-variant: #96acd4;
      --outline: #61769b;
      --outline-variant: #33486b;
      --inverse-surface: #f9f9ff;
      --inverse-on-surface: #405679;
      --primary: #65b3ff;
      --primary-dim: #2fa3ff;
      --on-primary: #003053;
      --inverse-primary: #0062a2;
      --secondary: #5f9efc;
      --secondary-dim: #5f9efc;
      --on-secondary: #002045;
      --secondary-container: #005db6;
      --on-secondary-container: #f6f7ff;
      --tertiary: #bb99ff;
      --tertiary-dim: #af8af7;
      --on-tertiary: #390a7c;
      --tertiary-container: #af8af7;
      --on-tertiary-container: #2b0065;
      --error: #ff716c;
      --error-dim: #d7383b;
      --on-error: #490006;
      --error-container: #9f0519;
      --on-error-container: #ffa8a3;
    }
  }
}
@media (prefers-contrast: more) {
  @media (prefers-color-scheme: light) {
    :root {
      --background: #f5f6ff;
      --on-background: #000000;
      --surface: #f5f6ff;
      --surface-dim: #bfd5ff;
      --surface-bright: #f5f6ff;
      --surface-container-lowest: #ffffff;
      --surface-container-low: #ecf0ff;
      --surface-container: #dfe8ff;
      --surface-container-high: #d6e3ff;
      --surface-container-highest: #cdddff;
      --on-surface: #000000;
      --on-surface-variant: #051f40;
      --outline: #2a4062;
      --outline-variant: #3a4f72;
      --inverse-surface: #000e25;
      --inverse-on-surface: #ffffff;
      --primary: #00213b;
      --primary-dim: #00162b;
      --on-primary: #b7d7ff;
      --primary-container: #005287;
      --on-primary-container: #ffffff;
      --primary-fixed: #005287;
      --primary-fixed-dim: #004675;
      --on-primary-fixed: #ffffff;
      --on-primary-fixed-variant: #ffffff;
      --inverse-primary: #98c9ff;
      --secondary: #001f44;
      --secondary-dim: #001532;
      --on-secondary: #c0d5ff;
      --secondary-container: #004e99;
      --on-secondary-container: #ffffff;
      --secondary-fixed: #004e99;
      --secondary-fixed-dim: #004284;
      --on-secondary-fixed: #ffffff;
      --on-secondary-fixed-variant: #ffffff;
      --tertiary: #2a0063;
      --tertiary-dim: #1e004a;
      --on-tertiary: #dfccff;
      --tertiary-container: #5d38a0;
      --on-tertiary-container: #ffffff;
      --tertiary-fixed: #5d38a0;
      --tertiary-fixed-dim: #512b94;
      --on-tertiary-fixed: #ffffff;
      --on-tertiary-fixed-variant: #ffffff;
      --error: #480005;
      --error-dim: #350003;
      --on-error: #ffc7c3;
      --error-container: #a0071a;
      --on-error-container: #ffffff;
    }
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #000e25;
      --on-background: #ffffff;
      --surface: #000e25;
      --surface-dim: #000e25;
      --surface-bright: #002c5b;
      --surface-container-lowest: #000000;
      --surface-container-low: #00132e;
      --surface-container: #001939;
      --surface-container-high: #001f44;
      --surface-container-highest: #00254f;
      --on-surface: #ffffff;
      --on-surface-variant: #dae6ff;
      --outline: #a4b9e2;
      --outline-variant: #8fa4cc;
      --inverse-surface: #f9f9ff;
      --inverse-on-surface: #000000;
      --primary: #d5e7ff;
      --primary-dim: #b7d8ff;
      --on-primary: #002e4f;
      --primary-container: #47a9ff;
      --on-primary-container: #000000;
      --primary-fixed: #47a9ff;
      --primary-fixed-dim: #009cfb;
      --on-primary-fixed: #000000;
      --on-primary-fixed-variant: #000000;
      --inverse-primary: #003a63;
      --secondary: #dae6ff;
      --secondary-dim: #c0d5ff;
      --on-secondary: #002b5b;
      --secondary-container: #69a4ff;
      --on-secondary-container: #000000;
      --secondary-fixed: #bbd2ff;
      --secondary-fixed-dim: #a4c5ff;
      --on-secondary-fixed: #000000;
      --on-secondary-fixed-variant: #000d23;
      --tertiary: #ede0ff;
      --tertiary-dim: #dfccff;
      --on-tertiary: #39097c;
      --tertiary-container: #b590fe;
      --on-tertiary-container: #000000;
      --tertiary-fixed: #c0a0ff;
      --tertiary-fixed-dim: #b490fd;
      --on-tertiary-fixed: #000000;
      --on-tertiary-fixed-variant: #000000;
      --error: #ffdedb;
      --error-dim: #ffc7c3;
      --on-error: #60000a;
      --error-container: #ff7c76;
      --on-error-container: #000000;
    }
  }
}
