section#page-connect {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
}

.gridform {
  display: grid;
  gap: 5px;
  max-width: 600px;
}

input:invalid,
button.invalid {
  background-color: tomato;
}

.error {
  color: red;
}

@media (width >= 450px) {
  .gridform {
    grid-template-columns: auto 1fr;
  }
  .gridform button {
    grid-column: 2;
  }
}

.crosshair {
  position: absolute;
}

@media (prefers-color-scheme: dark) {
  .crosshair {
    background-color: white;
  }
}

@media (prefers-color-scheme: light) {
  .crosshair {
    background-color: black;
  }
}

#overpass-query {
  height: 85px;
  overflow: scroll;
  font-family: monospace;
  white-space: pre;
}

.spacer {
  flex-grow: 1;
}

.gridform .spacer {
  grid-column-end: -1;
}

.license {
  font-size: small;
  text-align: right;
}
