#page-hints {
  overflow: scroll;
}
#page-hints table {
  width: 100%;
  border-spacing: 0 2px;
}
#page-hints thead {
  background-color: var(--surface-container-high);
}
#page-hints th,
#page-hints td {
  padding: 4px;
}
#page-hints th {
  font-weight: normal;
}
#page-hints td {
  font-weight: normal;
}
#page-hints table {
  color: var(--on-surface);
}
#page-hints td:nth-of-type(6) {
  /* "found" checkbox */
  text-align: center;
}
#page-hints tr:nth-of-type(even) {
  background-color: var(--surface-container-low);
}
#page-hints tr:nth-of-type(odd) {
  background-color: var(--surface-container-high);
}
