@import "colors.css";
@import "maplibre-gl";
@import "connect.css";
@import "dialog.css";
@import "map.css";
@import "log.css";
@import "hints.css";

html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: system-ui;
  color: var(--on-background);
  background-color: var(--background);
}

dialog hr {
  border: 1px solid var(--on-background);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: var(--primary);
}

a:visited {
  color: var(--primary-dim);
}

@media (pointer: coarse) {
  input,
  label,
  button,
  select,
  textarea {
    font-size: large;
  }
}

nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  padding-bottom: env(safe-area-inset-bottom);
  margin: 0;
  font-size: large;
  -webkit-user-select: none;
  user-select: none;
  list-style: none;
}

@supports (-webkit-touch-callout: none) {
  /* For some reason safe-area-inset-bottom isn't working on my phone */
  nav ul {
    padding-bottom: max(34px, env(safe-area-inset-bottom));
  }
}

nav ul li {
  padding: 0;
}

nav li a {
  display: block;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
}

nav li a,
nav li a:visited {
  color: var(--on-surface-variant);
  background-color: var(--surface-container);
}
nav li a.active {
  color: var(--on-secondary-container);
  background-color: var(--secondary-container);
}

section {
  flex-grow: 1;
  flex-basis: 0;
  padding: 1rem;
}

button,
select {
  padding: 4px;
  color: var(--on-primary);
  background-color: var(--primary);
  border: 0;
  border-radius: 4px;
}

button:disabled {
  opacity: 50%;
}
