@import "maplibre-gl";
@import "connect.css";
@import "dialog.css";
@import "map.css";
@import "log.css";
@import "hints.css";

html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:
    system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color: #80baff;
    background-color: #000920;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color: #003a7f;
    background-color: #dfe8ff;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}

@media (pointer: coarse) {
  input,
  button {
    font-size: large;
  }
}

nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  padding-bottom: env(safe-area-inset-bottom);
  margin: 0;
  font-size: large;
  -webkit-user-select: none;
  user-select: none;
  list-style: none;
}

@supports (-webkit-touch-callout: none) {
  /* For some reason safe-area-inset-bottom isn't working on my phone */
  nav ul {
    padding-bottom: max(34px, env(safe-area-inset-bottom));
  }
}

nav ul li {
  padding: 0;
}

nav li a {
  display: block;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  nav li a {
    color: white;
    background-color: #031736;
  }
  nav li a.active {
    color: #80baff;
    background-color: #2968b8;
  }
}

@media (prefers-color-scheme: light) {
  nav li a {
    color: black;
    background-color: #c9ddfc;
  }
  nav li a.active {
    color: #031736;
    background-color: #4786d6;
  }
}

section {
  flex-grow: 1;
  flex-basis: 0;
  padding: 1rem;
}

@media (prefers-color-scheme: dark) {
  button {
    padding: 4px;
    color: #123052;
    background-color: #80baff;
    border: 0;
    border-radius: 4px;
  }
  input {
    padding: 4px;
    color: #9db1d5;
    background-color: #000920;
    border: 1px solid #9db1d5;
    border-radius: 4px;
  }
}
