@import "maplibre-gl";
@import "connect.css";
@import "map.css";
@import "log.css";
@import "hints.css";

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:
    system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;

  display: flex;
  flex-direction: column;
}

@media (pointer: coarse) {
  input,
  button {
    font-size: large;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #80baff;
    background-color: #000920;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: #003a7f;
    background-color: #dfe8ff;
  }
}

nav ul {
  user-select: none;
  -webkit-user-select: none;
  list-style: none;
  font-size: large;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

nav ul li {
  padding: 0;
}

nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 8px 0;
}

@media (prefers-color-scheme: dark) {
  nav li a {
    color: white;
    background-color: #031736;
  }
  nav li a.active {
    color: #80baff;
    background-color: #2968b8;
  }
}

@media (prefers-color-scheme: light) {
  nav li a {
    color: black;
    background-color: #c9ddfc;
  }
  nav li a.active {
    color: #031736;
    background-color: #4786d6;
  }
}

section {
  flex-grow: 1;
  flex-basis: 0;
  padding: 1rem;
}

@media (prefers-color-scheme: dark) {
  button {
    background-color: #80baff;
    color: #123052;
    border: 0;
    border-radius: 4px;
    padding: 4px;
  }
  input {
    background-color: #000920;
    color: #9db1d5;
    border: 1px solid #9db1d5;
    border-radius: 4px;
    padding: 4px;
  }
}
