#page-log {
  display: flex;
  flex-direction: column;
}

.log {
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: scroll;
}

.log {
  color: var(--on-surface-container);
  background-color: var(--surface-container-lowest);
}

.log span {
  white-space-collapse: preserve;
}

#page-log form {
  display: grid;
}

/* the official text client uses these named colors for special things in logs */
/*.player {
  color: yellow;
}
.player.self {
  color: magenta;
}
.item {
  color: cyan;
}
.item.progression {
  color: plum;
}*/
.item.useful {
  color: slateblue;
}
.item.trap {
  color: salmon;
}
.location {
  color: green;
}
.entrance {
  color: blue;
}

@media (prefers-color-scheme: dark) {
  /* the official text client, which has a dark color scheme, actually uses these colors below, different from CSS, for the names above */
  .player {
    color: lightgoldenrodyellow;
  }
  .player.self {
    color: #ee00ee;
  }
  .item {
    color: #00eeee;
  }
  .item.progression {
    color: #af99ef;
  }
  .item.useful {
    color: #6d8be8;
  }
  .location {
    color: springgreen;
  }
  .entrance {
    color: cornflowerblue;
  }
}

@media (prefers-color-scheme: light) {
  /* these colors are personal choices for a light color scheme */
  .player {
    color: darkgoldenrod;
  }
  .player.self {
    color: mediumorchid;
  }
  .item {
    color: darkturquoise;
  }
  .item.progression {
    color: #391899;
  }
}

#notification-popup {
  position: absolute;
  z-index: 2;
  display: flex;
  max-width: 450px;
  padding: 1em;
  margin: 1em;
  color: var(--on-surface-container);
  background-color: var(--surface-container-highest);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 25%);
}

#text-overlay {
  position: absolute;
  z-index: 2;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

#text-overlay > * {
  overflow: hidden;
  font-weight: bolder;
  color: var(--surface);
  -webkit-text-stroke: 1vmin var(--on-surface);
  animation:
    1s linear countdown none,
    4s linear victory none;
}

#text-overlay .countdown {
  font-size: 50vmin;
}

@keyframes countdown {
  from {
    visibility: visible;
    opacity: 100%;
    scale: 100%;
    animation-timing-function: linear;
  }
  to {
    opacity: 0%;
    scale: 50%;
  }
}

#text-overlay .victory {
  font-size: 25vmin;
}

@keyframes victory {
  from {
    visibility: visible;
    opacity: 0;
    scale: 50%;
    animation-timing-function: ease-out;
  }
  6.25% {
    scale: 125%;
    animation-timing-function: ease-in-out;
  }
  12.5% {
    scale: 100%;
    opacity: 100%;
  }
  87.5% {
    scale: 100%;
    opacity: 100%;
    animation-timing-function: linear;
  }
  to {
    opacity: 0;
    scale: 50%;
  }
}

#particle-overlay {
  position: absolute;
  z-index: 2;
  display: block;
  visibility: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (prefers-reduced-motion: reduce) {
  @keyframes countdown {
    from {
      visibility: visible;
      opacity: 100%;
      scale: 100%;
      animation-timing-function: step-end;
    }
    to {
      opacity: 0%;
      scale: 50%;
    }
  }
  @keyframes victory {
    from {
      visibility: visible;
      scale: 100%;
      opacity: 100%;
      animation-timing-function: step-end;
    }
    to {
      opacity: 0;
      scale: 50%;
    }
  }
  #particle-overlay {
    display: none;
  }
}
