.maplibregl-popup,
.maplibregl-popup-close-button {
  color: var(--on-surface);
}

.maplibregl-popup-content {
  background-color: var(--surface);
}
.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
  border-top-color: var(--surface);
}
.maplibregl-popup-anchor-left .maplibregl-popup-tip {
  border-right-color: var(--surface);
}
.maplibregl-popup-anchor-top .maplibregl-popup-tip {
  border-bottom-color: var(--surface);
}
.maplibregl-popup-anchor-right .maplibregl-popup-tip {
  border-left-color: var(--surface);
}

.maplibregl-ctrl-attrib a {
  color: var(--primary-fixed);
}
.maplibregl-ctrl-attrib a:visited {
  color: var(--primary-fixed-dim);
}

#map {
  height: 100%;
}

.macguffin-control,
.keys-control {
  background-color: rgba(0, 0, 0, 0.5);
}

.macguffin-control {
  padding: 15px;
  font-size: xx-large;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px lightsteelblue;
}

.macguffin-control .received {
  -webkit-text-stroke: 0;
}

.keys-control {
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 8px;
}

.keys-control img {
  width: 24px;
  height: 24px;
  margin: 5px;
}
