.maplibregl-popup {
  color: black;
}

#map {
  height: 100%;
}

.macguffin-control,
.keys-control {
  background-color: rgba(0, 0, 0, 0.5);
}

.macguffin-control {
  padding: 15px;
  font-size: xx-large;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #80baff;
}

.macguffin-control .received {
  -webkit-text-stroke: 0;
}

.keys-control {
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 8px;
}

.keys-control img {
  width: 24px;
  height: 24px;
  margin: 5px;
}

/* override text colors in popups since popups always have a light background */
/* copied from light scheme in log.css */
.maplibregl-popup .player {
  color: darkgoldenrod;
}
.maplibregl-popup .player.self {
  color: mediumorchid;
}
.maplibregl-popup .item {
  color: darkturquoise;
}
.maplibregl-popup .item.progression {
  color: #391899;
}
